<h1>
  Sesame Seeds,
  Bottom bun,
  Chum (Food),
  Ketchup,
  Mustard,
  Mayonnaise,
  Relish,
  Sea Cheese,
  Pickles (Food),
  Sea Lettuce,
  Sea Tomatoes,
  Sea Onions,
  Sea/table Salt,
  Tartar Sauce,
  Secret sauce,
  A teaspoon of raspberry,
  Who-Hoo-Hoo,
  A-Ooga,
  Na na na,
  A splash of Whee,
  Top bun, and
  Jellyfish Jelly.
</h1>